body {
    background-color: var(--background-secondary);
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: var(--text-primary); /* Using a CSS variable */
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    opacity: 0.5;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: var(--text-secondary); /* Using a CSS variable */
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 20px 20px;
    border: 1px solid var(--border-color); /* Using a CSS variable */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F1F1F1;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    text-align: center;
}

.icon-grid input[type="radio"] {
    display: none; /* Hide the default radio button */
}

.icon-grid label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--border-color-light); /* Using a CSS variable */
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.icon-grid label:hover,
.icon-grid input[type="radio"]:checked + label {
    border-color: var(--accent-color); /* Using a CSS variable */
    background-color: var(--background-light); /* Using a CSS variable */
}

.icon-grid label img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    opacity: 0.3;
}

.icon-grid label span {
    color: var(--text-secondary); /* Using a CSS variable */
    font-size: 0.9rem;
}

.button.primary {
    background-color: var(--expense-color);
    color: var(--text-on-accent); /* Using a CSS variable */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.15s ease-in-out;
}

.button.primary:hover {
    background-color: var(--accent-hover-color); /* Using a CSS variable */
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--text-link); /* Using a CSS variable */
    text-decoration: none;
    margin-top: 21px;
    text-align: right;
    padding: 13px;
    display: inline-flex;
}

.back-link img {
    border-radius: 100px;
}

.back-link:hover {
    text-decoration: none;
}

.fullscreen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Set the background of the popup to black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#qrScannerView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrScannerView canvas {
    /* The canvas will be full screen, and we'll draw the video with black bars */
    display: block; /* Ensure it takes up the space */
}


#closeScanner {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; /* Ensure it's above the canvas */
}

.footer-Adv {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.footer-Adv figure {
    display: flex;
    gap: 2px;
    /* width: 220px; */
    overflow: visible;
    padding: 20px 10px 20px 20px;
    align-content: space-around;
    align-items: center;
    justify-content: flex-end;
}

.button.secondary {
    background-color: var(--background-secondary);
    color: var(--expense-color);
    box-shadow: inset 0px 0px 0px 4px var(--expense-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: bold;
    transition: background-color 0.15s ease-in-out;
}


.intoaction-buttons {
    display: flex;
    justify-content: col;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.intoaction-buttons button.primary {
    font-size: 1.2rem;
    padding: 20px 40px;
    border-radius: 14px;
}

/* css/send.css */
.scanner-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
